/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: 'Arial';
    color: #1D3557;
}

img {
    width: 100px;
}

.hero {
    background: url('images/msk.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 343px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
}

.hero h1,
.hero h2 {
    border-radius: 10px;
}

.hero h2 {
    max-width: 500px;
    background: #457B9D;
    padding: 10px 20px;
}

.hero h1 {
    background: #1D3557;
    padding: 5px 10px;
    border-radius: 10px;
}

.activities {
    background: #F1FAEE;
    margin-top: -25px;
    padding: 20px 30px;
}

.activity-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.activities-center {
    display: flex;
    justify-content: space-around;
}

.single-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.activity-img {
    border-radius: 50%;
}

.act-title,
.act-content {
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

.act-title {
    max-width: 183px;
    font-weight: 700;
    margin-bottom: 0;
}

.act-content {
    width: 198px;
}

.guide-section {
    padding: 50px 0;
}

.guide {
    width: 400px;
    height: 294px;
    background: #A8DADC;
    box-shadow: 0px 6px 0px #1D3557;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px
}

.guide-img {
    width: 180px;
    height: 248.67px;
    border-radius: 10px;
}